
.face-img {
    width:57%;
    @include for-phone {
        width: 100%;
    }
}

.face-outline {
    position: absolute;
    left: 10%;
    @include for-phone {
        left: 0%;
        width:  90%;
    }
}

.standard-image {
    width: 95%;
    height: 700px;
    @include for-phone {
        width:100%;
        height: 450px;
    }
}

.project-image {
    width: 100%;
    @include for-phone {
        width: 100%;
    }
}
.project-image-one {
    width: 95%;
    margin-left: 20rem;
    @include for-phone {
        width: 100%;
        margin-left: 0rem;
    }
}

.about-image-normal {
    width: 95%;
    content: url('../assets/about/groenfull.jpg');
    @include for-phone {
        display: none;
    }
}

.about-image-small {
    display: none;
    @include for-phone {
        display: unset;
        margin-left: -18%;
        width: 200%;
        content: url('../assets/about/groen.jpg');
    }
}

.bp-triangle-one {
    position: absolute;
    left: 0%;
}

.bp-triangle-two {
    position: absolute;
    right: 0%;
}

.rs-triangle-two {
    position: absolute;
    right: 0%;
    top:2rem;
}


.triangle-about-pink {
    position: absolute;
    bottom: -2%;
    right: 10%;
    @include for-phone {
        right: 10%;
        width: 50%;
    }
}

.triangle-about-blue {
    left: 0%;
    @include for-phone {
        width: 50%
    }
}


