.social-media {
    margin: 0 auto;
    padding-top: 12rem;
        &__container {
            background: $blue;
            border-radius: 50%;
            width: 50px;
            overflow: hidden;
            height: 50px;
            margin-top: 20px;
            display: block;
        }
    @include for-tablet {
        padding-top: 8rem;
    }
    @include for-phone {
        display: none;
    }
    @include for-big-screen {
        padding-top: 32rem;
    }
}
