.description-container {
    width: 75%;
    @include for-phone {
        width: 90%;
        margin: 15px;
    }
}
.description {
    text-align: justify;
    font-weight: 300;
}
.description-title {
    font-weight: 800;
    font-size: 45px;
    @include for-phone {
        font-size: 26px;
    }
}

.about-main-title {
    font-size: 24px;
    left: 35%;
    top: 45%;
    width: 600px;
    font-weight: 300;
    transform: translate(-50%,-50%);
    position: absolute;
    @include for-phone {
        top: 28%;
        left: 40%;
    }
    @include for-tablet{
        left: 35%;
        top: 13%;
    }
}

.about-sub-title {
    font-size: 24px;
    font-weight: 800;
    left: 35%;
    width: 600px;
    top: 58%;
    position: absolute;
    transform: translate(-50%,-50%);
    @include for-phone {
        top: 52%;
        left: 40%;
    }
    @include for-tablet{
        left: 35%;
        top: 28%;
    }
}