
.section {
    text-align: center;
    &--home {
        text-align: unset;
    }
}



.project {

    &--one{
        background: $pink;
        @include for-both {
            width: 90%;
            margin: 0 auto;
        }
    }
    &--two{
        background: $green;
        @include for-both {
            width: 90%;
            margin: 0 auto;
        }
    }
    &--three{
        background: $light-blue;
        @include for-both {
            width: 90%;
            margin: 0 auto;
        }
    }

    &__number{
        color: white;
        font-weight: 800;
        font-size: 550px;
        @include for-phone {
            font-size: 350px;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 72px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        color: $blue;
        @include for-phone {
            font-size: 30px
        }
    }
    &__info {
        position: absolute;
        bottom: 8%;
        left:8%;
        width:212px;
        text-align: justify;
        @include for-phone {
            bottom: 7%;
            display: none;
        }
    }
    &__info-details {
        font-weight: 300;
    }
    &__triangle-top {
        position: absolute;
        left: 3%;
        top:10%;
        width: 40%;
        @include for-phone {
        position: absolute;
        left: 3%;
        top:10%;
        width: 253.9px;
        }
    }
    &__triangle-bottom {
        position: absolute;
        right: 3%;
        bottom:10%;
        width: 40%;
        @include for-phone {
        position: absolute;
        right: 3%;
        bottom:2%;
        width: 225.9px
        }
    }
    &__link {
        @include border-lightblue;
        @include link-text;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        &--blue {
            @include border-lightblue;
            @include link-text;
            line-height: 1.0em;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.timeline-container {
    display: none;
    @include for-both {
        z-index: 500000;
        display: unset;
        position: absolute;
        right: 2%;
        top: 12%;
    }
}

.line {
    display: none;
    @include for-both{
        display: unset;
        width: 85%
    }
}

.project-number {
    &__1 {
        display: none;
        @include for-both {
            z-index: 500000;
            background: white;
            display: unset;
            color: $blue;
            position: absolute;
            right: 1%;
            top: 10%;
        }
    }
    &__2 {
        display: none;
        @include for-both {
        z-index: 500000;
        background: white;
        display: unset;
        color: $blue;
        position: absolute;
        right: 1%;
        top: 30%;
        }
    }
    &__3 {
        display: none;
        @include for-both {
        z-index: 500000;
        background: white;
        display: unset;
        color: $blue;
        position: absolute;
        right: 1%;
        top: 45%;
        }
		}
		&__4 {
			display: none;
			@include for-both {
			z-index: 500000;
			background: white;
			display: unset;
			color: $blue;
			position: absolute;
			right: 1%;
			top: 60%;
			}
	}
	&__5 {
		display: none;
		@include for-both {
		z-index: 500000;
		background: white;
		display: unset;
		color: $blue;
		position: absolute;
		right: 1%;
		top: 80%;
		}
}
}

.fraction-style {
    font-size:50px;
  }
  .subfraction-style {
    font-weight: 300;
  }

.home-title {
	@include for-phone {
		width: 100px;
		height: 100px;
		font-size: 50px;
		top: 60%;
	}
	@include for-tablet {
		width: 100px;
		height: 100px;
		font-size: 50px;
		top: 60%;
		left: 60%;
	}
	width: 506px;
	height: 290px;
	font-weight: 800;
	position: absolute;
	top: 40%;
	left: 50%;
  font-family: Poppins;
  font-size: 165px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.35;
  letter-spacing: normal;
	text-align: justify;

}

.home-subtitle {
	@include for-phone {
		width: 100px;
		height: 100px;
		font-size: 20px;
		line-height: 20px;
		top: 65%;
	}
	@include for-tablet {
		width: 100px;
		height: 100px;
		top: 65%;
		left: 60%;
		font-size: 25px;
		line-height: 25px;

	}
	width: 506px;
	height: 390px;
	font-weight: 500;
	position: absolute;
	top: 55%;
	left: 51%;
	font-family: Poppins;
	font-size: 38px;
	font-style: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: normal;
	text-align: justify;
}

.home-link-subtitle {
	@include for-phone {
		width: 200px;
		font-size: 18px;
		line-height: 20px;
		top: 85%;
		left: 51%;
	}
	@include for-tablet {
		width: 200px;
		height: 200px;
		top: 85%;
		left: 60%;
		font-size: 20px;
	}
	width: 506px;
	height: 390px;
	font-weight: 500;
	position: absolute;
	top: 70%;
	left: 71%;
	font-family: Poppins;
	font-style: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: normal;
	text-align: justify;
}

.projects-homepage-link {
	@include for-phone {
		position: absolute;
		width: 200px;
		font-size: 18px;
		line-height: 20px;
		top: 85%;
		left: 5%;
	}
	@include for-tablet {
		position: absolute;
		font-size: 20px;
		width: 200px;
		height: 200px;
		top: 85%;
		left: 5%;
	}
}

.more-about-me {
	@include border-pink;
	@include header-text;
	&:visited{
		text-decoration: none;
		color: $blue;
	}
}

.arrow {
	margin-left: 4rem;
	@include for-phone {
		margin-left: 3rem;
	}
}
