
.section {
    text-align: center;
    &--home {
        text-align: unset;
    }
}



.project {

    &--one{
        background: $pink;
    }
    &--two{
        background: $green;
    }
    &--three{
        background: $light-blue;
    }
        

    &__number{
        color: white;
        font-weight: 800;
        font-size: 500px;
    }
}
