.header {
    width: 100%;
    position: relative;
    z-index: 100;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-height: 10px;
    &--fixed {
        z-index: 50;
        margin-left: 0%;
        position: fixed;
        width: 100%;
        display: grid;
        max-height: 80px;
        background: white;
    }
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: auto 25% 25%;
        @include for-phone{
            padding: 0;
            grid-template-columns: auto auto auto;
        }
    }

    &__item {
        display: inline-block;
    }
    &__link {
        
        text-decoration: none;
        color: $blue;
        font-weight: 800;
        font-size: 20px;
        @include header-text;
        @include border-pink;
        margin-left: 2rem;
        &:visited{
            text-decoration: none;
            color: $blue;
        }
        &--bedrijvenportal{
            @include header-text;
            @include border-pink;
            margin-left: 0rem;
        }
        &--swop{
            @include header-text;
            @include border-green;
            @include for-phone {
                margin-left: 0rem;
            }
            margin-left: 2rem;
        }
        &--reactstack{
            @include header-text;
            @include border-lightblue;
            @include for-phone {
                margin-left: 0rem;
            }
            margin-left: 2rem;

        }
        &--projects{
            @include header-text;
            @include border-green;
            margin-left: 2rem;
            @include for-phone {
                margin-left: 1rem;
            }
        }
        &--about{
            @include header-text;
            @include border-green;
            margin-left: 2rem;
        }
        
    }
}