@import './variables.scss';
@import './mixins.scss';
@import './components.scss';
@import '../components/layout/layout.scss';

body {
    font-family: Poppins;
}

.home-grid {
    display: grid;
    grid-template-columns: 150px auto;
}

.container {
    display: grid;
    grid-template-columns: 75px auto;
}

.project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}