@import './variables.scss';
@import './mixins.scss';
@import './components.scss';
@import '../components/layout/layout.scss';

body {
    font-family: Poppins;
}

.home-grid {
    display: grid;
    grid-template-columns: 150px auto;
    @include for-phone {
    grid-template-columns: auto;
    }
}

.container {
    display: grid;
    grid-template-columns: 75px auto;
    @include for-phone {
        grid-template-columns: auto;
        overflow: hidden;
    }
}

.project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    @include for-phone {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    }
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    @include for-phone {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    }
}

.about-skills {
position: absolute;
bottom: 46%;
left: 6%;
width: 300px;
}