@mixin border-pink {
    border-bottom: 3px $pink solid;
    line-height: 1.7em;
    font-size: 18px;
    &:hover{
        border-bottom: 10px $pink solid;
        line-height: 0.3em;
    }
    &:active{
        border-bottom: 10px $pink solid;
        color:$active-blue;
        line-height: 0.3em;
    }
}
@mixin border-green {
    font-size: 18px;
    border-bottom: 3px $green solid;
    line-height: 1.7em;
    &:hover{
        border-bottom: 10px $green solid;
        line-height: 0.3em;
    }
    &:active{
        border-bottom: 10px $green solid;
        color:$active-blue;
        line-height: 0.3em;
    }
}
@mixin border-lightblue {
    font-size: 18px;
    border-bottom: 3px $light-blue solid;
    line-height: 1.7em;
    &:hover{
        border-bottom: 10px $light-blue solid;
        line-height: 0.3em;
    }
    &:active{
        border-bottom: 10px $light-blue solid;
        color:$active-blue;
        line-height: 0.3em;
    }
}

@mixin header-text {
    text-decoration: none;
    color: $blue;
    font-weight: 800;
    font-size: 20px;
}

@mixin link-text {
    text-decoration: none;
    color: $blue;
    font-weight: 600;
    font-size: 20px;
}

@mixin for-phone {
    @media (min-width: 280px) and (max-width: 640px)  { @content; }
}

@mixin for-tablet {
    @media (min-width: 641px) and (max-width: 1024px) { @content; }
}

@mixin for-both {
  @media (min-width: 1023px) { @content; }
}

@mixin for-phablet {
  @media (max-width: 1023px) { @content; }
}

@mixin for-big-screen {
    @media (min-width: 2000px) { @content; }
  }
