@mixin border-pink {
	background:
	linear-gradient(
		to bottom,$pink 0%,
		$pink 100%
	);
	&:hover {
		background-size: 4px 50px;
	}
}
@mixin border-green {
	background:
	linear-gradient(
		to bottom,$green 0%,
		$green 100%
	);
	&:hover {
		background-size: 4px 50px;
	}
}
@mixin border-lightblue {
	background:
	linear-gradient(
		to bottom,$light-blue 0%,
		$light-blue 100%
	);
	&:hover {
		background-size: 4px 50px;
	}
}

@mixin header-text {
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	color: $blue;
	text-decoration: none;
	transition: background-size .5s;
}

@mixin link-text {
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: 4px 4px;
    color: $blue;
		font-weight: 600;
		text-decoration: none;
		font-size: 20px;
		transition: background-size .5s;
}

@mixin for-phone {
    @media (min-width: 280px) and (max-width: 640px)  { @content; }
}

@mixin for-tablet {
    @media (min-width: 641px) and (max-width: 1024px) { @content; }
}

@mixin for-both {
  @media (min-width: 1023px) { @content; }
}

@mixin for-phablet {
  @media (max-width: 1023px) { @content; }
}

@mixin for-big-screen {
    @media (min-width: 2000px) { @content; }
  }
