@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,700,800');

$main-font: 'Poppins', sans-serif;

$blue:#3e3ec1;
$active-blue:#26269e;
$pink:#fce4e0;
$green:#e5ebd2;
$light-blue: #e4e9f8;

$baby-breakpoint: 360px;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 800px;
$standard-breakpoint: 1200px;
$bigscreen-breakpoint: 1550px;